Login : <%= @user.login %>

<br/>
<br/>

<% if @user == current_user %>
<b>It's you !</b>
<% end %>

<ul>
  <% @messages.each{|message| %>
    <li>
      <%= message.body %>
      on <%= message.created_at.strftime("%d/%m/%Y %H:%M") %>
    </li>
  <% } %>
</ul>

<%= will_paginate @messages %>
